.sidebar {
  height: 100%;
  background-color: white;
  overflow-x: hidden;
  margin-top: 70px;
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1))
    drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
}

.icon {
  margin-top: 10px;
  padding-bottom: 10px;
}

.icon-link {
  display: flex;
  gap: 6px;
  color: rgb(102, 102, 102);
  text-decoration: none;
}

.icon-link:hover {
  color: orange;
  background-color: rgba(251, 226, 180, 0.782);
  cursor: pointer;
}

.hover:hover {
  text-decoration: underline;
  color: orange;

}

.item-name {
  margin-top: 12px;
  font-size: 14px;
  text-underline-offset: none;
}
